<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="/static/js/materialize.min.js"></script>

<p class="text-center fixed-bottom text-muted">© Copyright 2020 The niisan company</p>