<!-- for google sign in -->
<!-- <meta name="google-signin-client_id" content="640717809616-32nvqr7vphpeu06e09stnhcf1hbcp01f.apps.googleusercontent.com">

<div class="g-signin2" data-onsuccess="onSignIn"></div>
<script src="https://apis.google.com/js/platform.js" async defer></script> -->
<!-- Login with Google : <a href="/auth/google" class=" btn waves-effect waves-light"><img src="/static/googleIcon.svg" width="30" height="30"/></a> -->
<!-- <div class="card orange lighten-2">
  <div class="card-action white-text">
    <p class="center-align">
      Login in with Google<br><br>
      <a href="/auth/google" class="btn waves-effect waves-light"><img src="/static/googleIcon.svg" width="30" height="30"/></a>
    </p>
  </div>
</div> -->
<div class="divider"></div>
<div class="row section center-align s12 orange lighten-2 white-text">
  Login with Google
  <div class="btn waves-effect waves-light  center-align">
    <a href="/auth/google"><img src="/static/googleIcon.svg" width="30" height="30"/></a>
  </div>
</div>

<!-- <script>
    
    // for google sign in
    function onSignIn(googleUser) {
      var profile = googleUser.getBasicProfile();
      console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
      console.log('Name: ' + profile.getName());
      console.log('Image URL: ' + profile.getImageUrl());
      console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
  
  
      // redirection 
    }
    function onFailure(error) {
      console.log(error);
    }
  </script> -->